.sidebar {
    background-color: #00B8F1;
    min-height: 100vh;

    
}

.menu {
    color: #B0CAD2;
    margin-bottom: 80vh;
    margin-left: 1vw;


}


.out {
    color: white;
    margin-left: 1vw;
}